<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4116346b-5ded-4f3b-8387-f8d055802adc/resourceGroups/rg-xQazuser6143_mml.local-RqnEd/providers/Microsoft.Web/sites/Hospitalwebapi</ResourceId>
    <ResourceGroup>rg-xQazuser6143_mml.local-RqnEd</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hospitalwebapi-e0eegeezdgc4gjhe.southindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>bf46e8db-8e46-cdff-afd3-4a0da8005726</ProjectGuid>
    <PublishUrl>https://hospitalwebapi-e0eegeezdgc4gjhe.scm.southindia-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>